<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ws_External">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_PaymentDebtInfoService" />
                <binding name="GnsServiceBinding" />
                <binding name="GnsServiceBinding1" />
                <binding name="GnsServiceBinding2" />
                <binding name="BasicHttpBinding_MTDService" />
                <binding name="InfocomServiceBinding" />
                <binding name="InfocomServiceBinding1" />
                <binding name="InfocomServiceBinding3" />
                <binding name="InfocomServiceBinding4" />
                <binding name="InfocomServiceBinding2" />
                <binding name="InfocomServiceBinding5" />
                <binding name="InfocomServiceBinding6" />
                <binding name="SubjectPortSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8443/ws_External" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ws_External" contract="ExternalService.ws_External"
                name="BasicHttpBinding_ws_External" />
            <endpoint address="http://localhost:60676/PaymentDebtInfoService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PaymentDebtInfoService"
                contract="ws_ExternalSF.PaymentDebtInfoService" name="BasicHttpBinding_PaymentDebtInfoService" />
            <endpoint address="http://localhost:60677/taxpayerDataByInn"
                binding="basicHttpBinding" bindingConfiguration="GnsServiceBinding"
                contract="ws_ExternalGNSDebt.GnsServicePortType" name="GnsServicePort" />
            <endpoint address="http://localhost:60677/allowedMethods" binding="basicHttpBinding"
                bindingConfiguration="GnsServiceBinding2" contract="ws_ExternalMeta.metaServicesPort"
                name="GnsServicePort2" />
            <endpoint address="http://localhost:8116/MTDService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_MTDService" contract="ws_ExternalGTS.MTDService"
                name="BasicHttpBinding_MTDService" />
            <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding1" contract="ws_ExternalAddress.InfocomServicePortType"
                name="InfocomServicePort1" />
            <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding3" contract="ws_ExternalPassport.InfocomServicePortType"
                name="InfocomServicePort" />
            <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding4" contract="ws_ExternalForeign.InfocomServicePortType"
                name="InfocomServicePort3" />
            <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding2" contract="ws_ExternalZags.InfocomServicePortType"
                name="InfocomServicePort2" />
            <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding5" contract="ws_ExternalVehicles.InfocomServicePortType"
                name="InfocomServicePort4" />
            <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding6" contract="ws_ExternalDriver.InfocomServicePortType"
                name="InfocomServicePort5" />
            <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="SubjectPortSoap11" contract="ws_ExternalJur.SubjectPort"
                name="SubjectPortSoap11" />
        </client>
    </system.serviceModel>
</configuration>
