<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="console" xsi:type="Console" layout="${longdate} ${level} ${message}" />
      <target name="file" xsi:type="file" fileName="${basedir}\log.log" layout="${longdate} ${level} ${message}" archiveFileName="${basedir}\Archives\log.${shortdate}.{#}" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="40" encoding="utf-8" />
      <target name="logOut" xsi:type="file" fileName="${basedir}\logOut.log" layout="${longdate} ${level} ${message}" archiveFileName="${basedir}\Archives\logOut.${shortdate}.{#}" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="40" encoding="utf-8" />
      <target name="taxpayerDataByInn" xsi:type="file" fileName="${basedir}\taxpayerDataByInn.log" archiveFileName="${basedir}\Archives/taxpayerDataByInn.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="tpDataByINNforBusinessActivity" xsi:type="file" fileName="${basedir}\tpDataByINNforBusinessActivity.log" archiveFileName="${basedir}\Archives/tpDataByINNforBusinessActivity.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="asbAddress" xsi:type="file" fileName="${basedir}\asbAddress.log" archiveFileName="${basedir}\Archives/asbAddress.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="driverLicenseStatus" xsi:type="file" fileName="${basedir}\driverLicenseStatus.log" archiveFileName="${basedir}\Archives/driverLicenseStatus.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="passportLastPhotoByPin" xsi:type="file" fileName="${basedir}\passportLastPhotoByPin.log" archiveFileName="${basedir}\Archives/passportLastPhotoByPin.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="foreignByDoc" xsi:type="file" fileName="${basedir}\foreignByDoc.log" archiveFileName="${basedir}\Archives/foreignByDoc.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="passportDataByPSN" xsi:type="file" fileName="${basedir}\passportDataByPSN.log" archiveFileName="${basedir}\Archives/passportDataByPSN.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="transportCurrentInfo" xsi:type="file" fileName="${basedir}\transportCurrentInfo.log" archiveFileName="${basedir}\Archives/transportCurrentInfo.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="transportByPin" xsi:type="file" fileName="${basedir}\transportByPin.log" archiveFileName="${basedir}\Archives/transportByPin.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="zagsPinsByNSPDate" xsi:type="file" fileName="${basedir}\zagsPinsByNSPDate.log" archiveFileName="${basedir}\Archives/zagsPinsByNSPDate.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="RequestTradeCars" xsi:type="file" fileName="${basedir}\RequestTradeCars.log" archiveFileName="${basedir}\Archives/RequestTradeCars.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="RequestPost" xsi:type="file" fileName="${basedir}\RequestPost.log" archiveFileName="${basedir}\Archives/RequestPost.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="RequestCountry" xsi:type="file" fileName="${basedir}\RequestCountry.log" archiveFileName="${basedir}\Archives/RequestCountry.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="RequestWeightAct" xsi:type="file" fileName="${basedir}\RequestWeightAct.log" archiveFileName="${basedir}\Archives/RequestWeightAct.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="getSubjectByQuery" xsi:type="file" fileName="${basedir}\getSubjectByQuery.log" archiveFileName="${basedir}\Archives/getSubjectByQuery.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
      <target name="GetPaymentDebtInfo" xsi:type="file" fileName="${basedir}\GetPaymentDebtInfo.log" archiveFileName="${basedir}\Archives/GetPaymentDebtInfo.${shortdate}.{#}.log" layout="${longdate} ${level} ${message}" encoding="utf-8" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="35" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="taxpayerDataByInn" minlevel="Debug" writeTo="taxpayerDataByInn" final="true" />
      <logger name="tpDataByINNforBusinessActivity" minlevel="Debug" writeTo="tpDataByINNforBusinessActivity" final="true" />
      <logger name="asbAddress" minlevel="Debug" writeTo="asbAddress" final="true" />
      <logger name="driverLicenseStatus" minlevel="Debug" writeTo="driverLicenseStatus" final="true" />
      <logger name="passportLastPhotoByPin" minlevel="Debug" writeTo="passportLastPhotoByPin" final="true" />
      <logger name="foreignByDoc" minlevel="Debug" writeTo="foreignByDoc" final="true" />
      <logger name="passportDataByPSN" minlevel="Debug" writeTo="passportDataByPSN" final="true" />
      <logger name="transportCurrentInfo" minlevel="Debug" writeTo="transportCurrentInfo" final="true" />
      <logger name="transportByPin" minlevel="Debug" writeTo="transportByPin" final="true" />
      <logger name="zagsPinsByNSPDate" minlevel="Debug" writeTo="zagsPinsByNSPDate" final="true" />
      <logger name="RequestTradeCars" minlevel="Debug" writeTo="RequestTradeCars" final="true" />
      <logger name="RequestPost" minlevel="Debug" writeTo="RequestPost" final="true" />
      <logger name="RequestCountry" minlevel="Debug" writeTo="RequestCountry" final="true" />
      <logger name="RequestWeightAct" minlevel="Debug" writeTo="RequestWeightAct" final="true" />
      <logger name="getSubjectByQuery" minlevel="Debug" writeTo="getSubjectByQuery" final="true" />
      <logger name="GetPaymentDebtInfo" minlevel="Debug" writeTo="GetPaymentDebtInfo" final="true" />
      <logger name="logOut" minlevel="Debug" writeTo="logOut" />
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  <appSettings>
    <add key="ip" value="192.168.13.127" />
    <add key="port" value="8054" />
    <add key="pswHash" value="1B2M2Y8AsgTpgAmY7PhCfg==" />
    <add key="memberCode" value="70000025" />
    <add key="memberCodeSF" value="70000003" />
    <add key="memberCodeGTS" value="70000008" />
    <add key="memberCodeGNS" value="70000002" />
    <add key="memberCodeGRS" value="70000005" />
    <add key="memberCodeJur" value="70000024" />
    <add key="subsystemCode" value="mtd-services" />
    <add key="subsystemCodeSF" value="settlements-service" />
    <add key="subsystemCodeGTS" value="customs-service" />
    <add key="subsystemCodeGNS" value="gns-service" />
    <add key="subsystemCodeGRSPassport" value="passport-service" />
    <add key="subsystemCodeGRSAddress" value="asb-service" />
    <add key="subsystemCodeGRSZags" value="zags-service" />
    <add key="subsystemCodeGRSForeign" value="foreign-service" />
    <add key="subsystemCodeGRSVehicles" value="vehicles-service" />
    <add key="subsystemCodeGRSDriver" value="driver-license-service" />
    <add key="subsystemCodeJur" value="minjust-service" />
    <add key="EnableMessageInspection" value="False" />
    <add key="EnableRequestsTrace" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ws_External" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_PaymentDebtInfoService" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00" />
        <binding name="GnsServiceBinding" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00" />
        <binding name="BasicHttpsBinding_IXRoadInternalReference"
                 openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00"
			           maxBufferPoolSize="2097151" maxReceivedMessageSize="2097151">
          <readerQuotas maxDepth="2097151" maxStringContentLength="2097151" maxArrayLength="2097151" maxBytesPerRead="2097151" maxNameTableCharCount="2097151" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="GnsServiceBinding1" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00" />
        <binding name="GnsServiceBinding2" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00" />
        <binding name="BasicHttpBinding_MTDService" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00" />
        <binding name="InfocomServiceBinding" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:01:00" receiveTimeout="00:01:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://192.168.13.127:8443/ws_External"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ws_External" 
                contract="ExternalService.ws_External" name="BasicHttpBinding_ws_External" />
      <endpoint address="http://localhost:60676/PaymentDebtInfoService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PaymentDebtInfoService"
                contract="ws_ExternalSF.PaymentDebtInfoService" name="BasicHttpBinding_PaymentDebtInfoService" />
      <!--<endpoint address="https://localhost:443" binding="basicHttpBinding"
	              bindingConfiguration="BasicHttpsBinding_IXRoadInternalReference"
	              contract="XRoadModels.IXRoadInternal" name="BasicHttpBinding_IXRoadInternalReference"/>-->
      <endpoint address="http://localhost:60677/taxpayerDataByInn" binding="basicHttpBinding"
                bindingConfiguration="GnsServiceBinding" contract="ws_ExternalGNSDebt.GnsServicePortType"
                name="GnsServicePort" />
      <endpoint address="http://localhost:60677/tpDataByINNforBusinessActivity" binding="basicHttpBinding"
                bindingConfiguration="GnsServiceBinding1" contract="ws_ExternalGNSReg.GnsServicePortType"
                name="GnsServicePort1" />
      <endpoint address="http://localhost:60677/allowedMethods" binding="basicHttpBinding"
                bindingConfiguration="GnsServiceBinding2" contract="ws_ExternalMeta.metaServicesPort"
                name="GnsServicePort2" />
      <endpoint address="http://localhost:8116/MTDService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_MTDService" contract="ws_ExternalGTS.MTDService"
                name="BasicHttpBinding_MTDService" />
      <endpoint address="http://localhost:8117/PassportService" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding" contract="ws_ExternalPassport.InfocomServicePortType"
                name="InfocomServicePort" />
      <endpoint address="http://localhost:8117/AddressService" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding" contract="ws_ExternalAddress.InfocomServicePortType"
                name="InfocomServicePort2" />
      <endpoint address="http://localhost:8117/AddressService" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding" contract="ws_ExternalVehicles.InfocomServicePortType"
                name="InfocomServicePort4" />
      <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding" contract="ws_ExternalDriver.InfocomServicePortType"
                name="InfocomServicePort5" />
      <endpoint address="http://example.org/xroad-endpoint" binding="basicHttpBinding"
                bindingConfiguration="InfocomServiceBinding" contract="ws_ExternalJur.SubjectPort"
                name="SubjectPortSoap11" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
